<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>Login</title>
</head>
<body>
    <h1>Login portal de compras</h1>
    <form method="post" class="formulario">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btnSubmit"> Ingresar </button>
    </form>
    {% if mensaje == "Usuario o contraseña incorrectos" %}
        <h1 style="color: red">{{ mensaje }}</h1>
    {% endif %}
</body>
</html>