{% block content %}
    {% if idEmpresa != 0 %}
        {% include 'baseEmpresa.html' %}
    {% elif idEmpresa == 0 %}
        {% include 'base.html'%}
    {% endif %}
    <h1>Solicitud de prestamo</h1>
    <form class="formulario" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btnSubmit"> Solicitar prestamo</button>
    </form>
    <br>
    {% if montoSolicitado != None %}
        <table class="tabla1">
            <tr>
                <th>Monto solicitado</th>
                <th>Cantidad de pagos identicos</th>
                <th>Pago sin interes</th>
                <th>Pago con interes</th>
                <th>Pago total con intereses</th>
            </tr>
        <tr>
            <td>{{ montoSolicitado }}</td>
            <td>{{ pagos }}</td>
            <td>{{ cuotaSinInteres }}</td>
            <td>{{ cuotaConInteres }}</td>
            <td>{{ totalConInteres }}</td>
        </tr>
        </table>
        <br>
        <br>
        <br>
    {% endif %}

{% endblock content %}
