{% extends 'base.html' %}
{% block content %}
    <h1>Estado de tarjetas</h1>
    <hr>
    <form method="post" class="formulario">
            {{ form.as_p }}
            {% csrf_token %}
        <button type="submit" class="btnSubmit">Consultar tarjeta</button>
    </form>
    <br>
    {% if numeroTarjeta is not None %}
        <table class="tabla1">
        <tr>
            <th>Numero tarjeta</th>
            <th>Numero de cuenta</th>
            <th>Puntos</th>
            <th>Saldo Q</th>
            <th>Saldo $</th>
        </tr>
        <tr>
            <td>{{ numeroTarjeta }}</td>
            <td>{{ numeroCuenta }}</td>
            {% if puntos is None %}
                <td>------</td>
            {% else %}
                <td>{{ puntos }}</td>
            {% endif %}
            <td>{{ saldoQ }}</td>
            <td>{{ saldoS }}</td>
        </tr>
    </table>
    {% endif %}
{% endblock %}